[5pt] Formally Implement a Message Authentication Scheme

Message authentication was used in a naive way that tied key registration and authenticated hashes of messages using the SIG public key that corresponded to the ledger.  This was done to avoid introducing more keys and to keep the data deterministic but is not secure and wouldn't work in the permissionless setting.

I need to formally specify the MAC functionality and use a separate signing scheme or at least separate randomly generated session keys.  Block passing and tinepool use MACs to authenticate messages.

https://tools.ietf.org/html/rfc7748

Implemented key exchange using X25519
Spec: RFC7748 Section 6.1 Diffie-Hellman key exchange with base point 9

Key exchange now happens in an unauthenticated step when the nodes exchange the list of local stakeholders.  A timestamp is included and all future messages must authenticate with a shared secret and a new timestamp that is greater than the last known timestamp.  This is tracked for each local stakeholder independently.